.div_parent { width: 100%;overflow-y: hidden; overflow-x: auto; white-space: nowrap;height:1246px; }
.div_child { width: 15%; height:300px;  display: inline-block; margin: 0px;height:1246px;background-color:white ;float: left;}
.drag-tip {
    text-align: left;
    padding: 5px;
    background: #1b49a0;
    color: white;
    margin: 10px;
    border-radius: 6px;
}
.wd.page{
border: #bdbdbd 1px solid;
position: relative;
background-size: 100% 100% !important;
height: 1170px;
}
.mb10 {
    margin-bottom: 10px !important;
}
.mt20 {
    margin-top: 20px !important;
}
.tag-area {
    width: 93%;
    line-height: 40px;
    border: 1px solid red;
    border-radius: 5px;
    margin-bottom: 15px;
    height:50px;
    margin-left:5px;
    margin-right:5px;
}
.tag-name {
    border: none;
    outline: none;
    width: 100px;
    float: left;
    left: 8px;
    position: relative;
    border-right: 1px solid red;
    padding-right: 8px;
    height: 50px;
}
.drag-handle {
    background: url(../images/common.png?v=0624) no-repeat;
    display: inline-block;
    height: 25px;
    width: 30px;
    background-position: -98px -204px;
    position: relative;
    top: 10px;
    cursor: pointer;
    left: 10px;
}
#addTag .w {
    border-bottom: 1px solid #999;
    width: 26px;
    display: inline-block;
    position: relative;
    top: -4px;
}
#addTag .h {
    border-left: 1px solid #999;
    display: inline-block;
    position: relative;
    top: 8px;
    height: 26px;
    left: -16px;
}
.delete-tag {
    background: url(../images/common.png?v=0624) no-repeat;
    display: inline-block;
    height: 17px;
    width: 17px;
    background-position: -67px -199px;
    position: relative;
    top: -18px;
    cursor: pointer;
    left: 15px;
}
#wdTitle {
    word-wrap: break-word;
    font-size: 14px;
    margin-top: 14px;
    font-weight:bold;
}
.wdPages {
    display: inline !important;
    padding: 0;
    margin: 0 !important;
    font-weight: normal;
}
.wd-title {
    font-size: 14px;
    margin: 0 17px;
    word-break: break-all;
    margin-top: 14px;
    margin-left: 30px;
}
.rightPage.selected {
    border: 1px solid rgb(255, 221, 0);
}
.rightPage {
    margin: 17px;
    border: 1px solid #dadada;;
}
.tits {
    position: absolute;
    font-size: 12px;
    bottom: 0px;
    height: 30px;
    width: 30px;
    line-height: 34px;
    color: #fff;
    padding-left: 1px;
    padding-top: 5px;
    text-align: left;
    background: url(../images/pc/triangle-grey.png) no-repeat;
}
.layui-main{
    position:relative;width:1140px;margin:0 auto;
    border: none;
}
.arrow-right {
    width:0;
    height:0;
    border-top:10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid rgb(255, 221, 0);
    display:inline-block;
}
/*箭头向下*/
.arrow-down {
    width:0;
    height:0;
    border-left:10px solid transparent;
    border-right:10px solid transparent;
    border-top:10px solid rgb(255, 221, 0);
    display:inline-block;
}
.triangle-left-bottom {
    width: 0;
    height: 0;
    border-top: 28px solid transparent;
    border-left: 28px solid #dadada;
    position: absolute;
    margin-top: -28px;
}
.triangle-select {
    width: 0;
    height: 0;
    border-top: 28px solid transparent;
    border-left: 28px solid rgb(255, 221, 0);
    position: absolute;
    margin-top: -28px;
    float: left;
}
.pageno {
    position: absolute;
    margin-top: -32px;
    position: absolute;
    font-size: 12px;
    color: #fff;
    text-align: left;
}